            @import url('https://fonts.googleapis.com/css?family=Quicksand');

            .wrapper {
                height: 100%;
                font-family: 'Quicksand', sans-serif;
                line-height: 1.5;
                word-spacing: 4px;
                letter-spacing: 1px;
            }
            .navbar-toggle
            {
                font-size: 25px;
                background:none; 
                border:none;
                color: white;
            }
            body {
                background-image: url("../images/bg1.jpg");
                background-attachment: fixed;
                background-size: cover;
                background-position: top center;
                overflow-y: scroll;
            }