            @import url('https://fonts.googleapis.com/css?family=Quicksand');
            @import url('https://db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster');
            .wrapper {
                height: 100%;
                font-family: 'Quicksand', sans-serif;
                line-height: 1.5;
                word-spacing: 4px;
                letter-spacing: 1px;
            }
            body {
                background-image: url("../images/bg1.jpg");
                background-attachment: fixed;
                background-size: cover;
                background-position: top center;
                overflow-y: scroll;
            }